<!-- role: permite aplicar semantica e elementos não semanticos do html, incluse mudar a semantica da tag -->
<!-- aria-labelledby:  -->
<div
  role="radiogroup"
  [attr.arialabelledby]="id"
  class="button-group"
>
  <label [attr.id] id="id" class="label">{{ label }}</label>
  <!-- [class.button-pressed]: se  for true, recebe a classe -->
  <button
    role="radio"
    [attr.aria-checked]="value === options.YES"
    class="button button-yes"
    type="button"
    (click)="activate(options.YES)"
    [class.button-pressed]="value === options.YES"
  >Yes</button>
  <button
    role="radio"
    [attr.aria-labelledby]="value === options.NO"
    class="button button-no"
    type="button"
    (click)="activate(options.NO)"
    [class.button-pressed]="value === options.NO"
  >No</button>
</div>
