<main>
  <h1>Form</h1>
  <app-yes-no-button-group
    label="Are you good enough in Angular"
  ></app-yes-no-button-group>
  <form [formGroup]="formGroup" (ngSubmit)="submit()">
    <!--
      formControlName: Esta diretiva é utilizada para ligar um elemento de
      entrada do HTML a um Control de um FormGroup.
    -->
    <app-yes-no-button-group
      formControlName="yesNoAnswer"
      label="Are you good enough in Angular"
    ></app-yes-no-button-group>
  </form>
  <!-- (valueChange)="yesNoAnswer = $event" -->
  <!-- <span>yesNoAnswer value: {{ yesNoAnswer }}</span> -->
  <button>Submit</button>
</main>
